*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Rockwell;
    background: black;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: black;
    height: 80px;
    width: 100%;
}
nav img{
    height: 80px;
    width: auto;
    margin: 0 auto;
}
.menupunkter{
    margin-right: 20px;
}
.menupunkter li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.menupunkter li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}
.menupunkter a:hover{
    color: orange;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (min-width: 1025px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav img{
        margin-top: 10vh;
    }
    .menupunkter{
        display: flex;
    }
}

@media (max-width: 1024px){
    nav img{
        margin-left: 47%;
    }
    .menupunkter li a{
        font-size: 50px;
    }
    .menupunkter li{
        margin-bottom: 100px;
    }
    .checkbtn{
        display: block;
    }
    .menupunkter{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menupunkter a:hover{
        background: none;
        color: orange;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 430px){
    nav img{
        margin-left: 40%;
    }
    .menupunkter li a{
        font-size: 30px;
    }
    .checkbtn{
        display: block;
    }
    .menupunkter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menupunkter a:hover{
        background: none;
        color: orange;
    }
    #check:checked ~ ul{
        left: 0;
    }
}